* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-first-container{
    margin-bottom: 13px; 
}

#main-second-container{
    background-color: white;
    height: 450px;
    margin-bottom: 5px;
}

#title-first-container{
    width: 490px;
    height: 147px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 3px;
    left: 24px;
    color: honeydew;
}

#heart{
    color: red;
}

.logo{
    width: 120px;
    height: 50px;
}

.lady-tree1{
    background-image:
    linear-gradient(rgba(145, 67, 197, 0.2), rgba(0,0,0,0.2)),
     url(../img/img-1.jpg);
     
}

.lady-tree2{
    background-image:
    linear-gradient(rgba(145, 67,197 ,0.2), rgba(0,0,0,0.2)),
     url(../img/img-3.jpg);  
}

.photo{
    height: 133px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

p{
    margin-top: 10px;
}

body{
    width: 60%;
    margin: 10px auto;
}

header{
    background-color: white;
    height: 100px;
    margin-bottom: 13px;
}

li{
    display:inline-block;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

ul{
    word-spacing: 15px;
}

.decoration-line{
    text-decoration-line: none;
    color: gray;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.square-yellow{ 
    height: 300px;
    width: 100%;
    background-image:
    linear-gradient(rgba(145, 67,197 ,0.2), rgba(0,0,0,0.2)),
     url(../img/banner.jpg);
    background-size: cover;
    background-position: 500px;
    background-position: center;
    filter: opacity(0.9);
    border-radius: 10px; 
}

footer{
    background-color: white;
    height: 40px;
    text-align: center;
}

.up-lightblue{
    background-color: white;
    height: 50px;
    margin-bottom: 13px;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.l-bg{
    background-color: white;
    width: 20%;
    height: 320px;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}

.centre-bg{
    background-color: white;
    height: 320px;
    width: calc(60% - 20px);
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.man-tree{
  background-image:
   linear-gradient(rgba(145, 67, 197, 0.2), rgba(0,0,0,0.2)),
   url(../img/banner-2.jpg);
   margin: 15px 0;
}